.popup__container_type_image {
    padding: 0;
    background-color: transparent;
    max-width: 75vw;
}

@media screen and (max-width: 680px) {
    .popup__container_type_image {
        width: auto;
        margin: 0 40px;
    }
}