.profile__subtitle {
    margin: 0;
    padding-top: 8px;

    font-size: 18px;
    font-weight: normal;
    line-height: 22px;

    max-width: 336px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media screen and (max-width: 680px) {
    .profile__subtitle {
        max-width: 282px;

        text-align: center;
        font-size: 14px;
        line-height: 17px;
        padding-top: 8px;
    }
}