.profile {
    display: flex;
    /* Ширина колонки 100% родителя за исключением ширины кнопки для добавления фотографий */
    width: calc(100% - 150px);
}

@media screen and (max-width: 680px) {
    .profile {
        flex-direction: column;
        align-items: center;
        width: 100%;

        padding-bottom: 36px;
    }
}