.card__info {
    display: grid;
    grid-template-columns: auto 22px;
    grid-template-rows: 1fr 1fr;
    align-items: center;

    padding: 25px 20px;

    background-color: #fff;
    color: #000;
    border-radius: 0 0 10px 10px;
}