.profile__add-button {
    align-self: center;
    margin-left: auto;

    background: #000 url(../../../images/add-button.svg);
    width: 150px;
    height: 50px;
    border: none;
}

.profile__add-button:hover {
    cursor: pointer;
    opacity: .6;
}

@media screen and (max-width: 680px) {
    .profile__add-button {
        width: 100%;
        background: #000 url(../../../images/add-button_mobile.svg) center no-repeat;
    }
}