.popup__close {
    background: url(../../../images/close.svg) center/100%;
    width: 32px;
    height: 32px;

    position: absolute;
    top: -40px;
    right: -40px;
}

.popup__close:hover {
    cursor: pointer;
    opacity: .6;
}

@media screen and (max-width: 680px) {
    .popup__close {
        width: 20px;
        height: 20px;

        top: -36px;
        right: 0;
    }
}