.profile__info {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    width: 336px;

    align-self: center;
    padding-left: 30px;        
}

@media screen and (max-width: 680px) {
    .profile__info {
        padding-left: 0;
        padding-top: 26px;
        padding-bottom: 33px;

        justify-content: center;
    }
}