.popup__title {
    margin: 0;
    padding: 0 0 45px;
    
    color: #000;    
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
}

@media screen and (max-width: 680px) {
    .popup__title {
        padding: 0 0 70px;
        font-size: 18px;
        line-height: 22px;
    }
}
